<div id="artifact-list" class="page-layout blank" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="logo mat-display-1 my-0 my-sm-24 welcome-message" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" [inline]="true">
                        apps
                    </mat-icon>
                    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Application - {{ artifact.artifactId }}
                     </span>
                </div>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content page-layout blank p-24" fusePerfectScrollbar>
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                    <div class="fuse-widget-front mat-elevation-z8" >
                        <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxFlex class="py-16 h1">Serveur</div>
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column">
                            <table>
                                <tr>
                                    <th>ArtifactId</th>
                                    <td>{{artifact.artifactId}}</td>
                                </tr>
                                <tr>
                                    <th>GroupId</th>
                                    <td>{{artifact.groupId}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </fuse-widget>


<!--                <fuse-widget *ngIf="middlewareInstances.length > 0" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">-->
<!--                    <div class="fuse-widget-front mat-elevation-z8">-->

<!--                        <div class="px-16 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">-->
<!--                            <div fxFlex class="py-16 h1" >Middlewares</div>-->
<!--                        </div>-->
<!--                        <table mat-table [dataSource]="middlewareInstances">-->

<!--                            <ng-container matColumnDef="name">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.middlewareVersion.middleware.name}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="editor">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Editor </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.middlewareVersion.editor}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="version">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Version </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.middlewareVersion.number}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="end-of-support">-->
<!--                                <th mat-header-cell *matHeaderCellDef> End Of Support </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.middlewareVersion.endOfSupport | date}} </td>-->
<!--                            </ng-container>-->

<!--                            <tr mat-header-row *matHeaderRowDef="MWdisplayedColumns"></tr>-->
<!--                            <tr mat-row *matRowDef="let row; columns: MWdisplayedColumns;" [ngClass]="isObsoleteCss(row.middlewareVersion.endOfSupport)"></tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </fuse-widget>-->

<!--                <fuse-widget *ngIf="datastoreInstances.length > 0" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">-->
<!--                    <div class="fuse-widget-front mat-elevation-z8">-->

<!--                        <div class="px-16 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">-->
<!--                            <div fxFlex class="py-16 h1">Datastores</div>-->
<!--                        </div>-->
<!--                        <table mat-table [dataSource]="datastoreInstances">-->

<!--                            <ng-container matColumnDef="type">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Type </th>-->
<!--                                <td mat-cell *matCellDef="let element" > {{element.datastoreVersion.datastore.type | titlecase }} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="name">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.datastoreVersion.datastore.name}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="version">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Version </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.datastoreVersion.number}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="end-of-support">-->
<!--                                <th mat-header-cell *matHeaderCellDef> End Of Support </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.datastoreVersion.endOfSupport | date}} </td>-->
<!--                            </ng-container>-->

<!--                            <tr mat-header-row *matHeaderRowDef="DatastoredisplayedColumns"></tr>-->
<!--                            <tr mat-row *matRowDef="let row; columns: DatastoredisplayedColumns;" [ngClass]="isObsoleteCss(row.datastoreVersion.endOfSupport)"></tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </fuse-widget>-->

<!--                <fuse-widget *ngIf="artifactInstances.length > 0" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">-->
<!--                    <div class="fuse-widget-front mat-elevation-z8">-->

<!--                        <div class="px-16 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">-->
<!--                            <div fxFlex class="py-16 h1">Artifacts</div>-->
<!--                        </div>-->
<!--                        <table mat-table [dataSource]="artifactInstances">-->

<!--                            <ng-container matColumnDef="artifact-id">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Artifact Id </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.artifactVersion.artifact.artifactId}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="group-id">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Group Id </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.artifactVersion.artifact.groupId}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="version">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Version </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.artifactVersion.number}} </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="environment">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Environment </th>-->
<!--                                <td mat-cell *matCellDef="let element"> {{element.environmentType}} </td>-->
<!--                            </ng-container>-->

<!--                            <tr mat-header-row *matHeaderRowDef="ArtifactdisplayedColumns"></tr>-->
<!--                            <tr mat-row *matRowDef="let row; columns: ArtifactdisplayedColumns;"></tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </fuse-widget>-->

            </div>
        </div>

    </div>
</div>