<div class="mat-elevation-z8 mb">
    <mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="artifact-id">
            <mat-header-cell *matHeaderCellDef> Application </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.artifactVersion.artifact.artifactId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="version">
            <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.artifactVersion.number }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="environment">
            <mat-header-cell *matHeaderCellDef> Environment </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.environmentType }} </mat-cell>
        </ng-container>

<!--        <ng-container matColumnDef="noData">-->
<!--            <mat-footer-cell *matFooterCellDef [attr.colspan]="applicationDisplayedColumns.length">-->
<!--                No Instances found.-->
<!--            </mat-footer-cell>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="loading">-->
<!--            <mat-footer-cell *matFooterCellDef [attr.colspan]="applicationDisplayedColumns.length">-->
<!--                Loading, please wait...-->
<!--            </mat-footer-cell>-->
<!--        </ng-container>-->

        <mat-header-row *matHeaderRowDef="applicationDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: applicationDisplayedColumns;"></mat-row>
<!--        <mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource > 0"></mat-footer-row>-->
<!--        <mat-footer-row *matFooterRowDef="['loading']" [hidden]="dataSource !== undefined"></mat-footer-row>-->
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>