<div id="server-list" class="page-layout blank" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="logo mat-display-1 my-0 my-sm-24 welcome-message" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" [inline]="true">
                        computer
                    </mat-icon>
                    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        SERVERS
                     </span>
                </div>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content page-layout blank p-24" fusePerfectScrollbar>

            <mat-form-field id="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <app-server-list-table [servers]="servers" *ngIf="servers" [notify]="notifyObj"></app-server-list-table>

        </div>

    </div>
</div>