@import "src/@fuse/scss/fuse";

#datastore-detail{

    > .center {

        > .header {
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }
}


.search-wrapper {
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    @include mat-elevation(1);

    .search {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0 18px;

        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
        }
    }
}

.bullet-list ul {
    padding-left: 17px;
    margin: 0px;
    font-size: 12px;
}

.obsolete dl {
    color: #c62828!important;
}

.obsolete1y dl {
    color: #f57c00!important;
}