<div id="middleware-list" class="page-layout blank" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="logo mat-display-1 my-0 my-sm-24 welcome-message" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" [inline]="true">
                        settings_ethernet
                    </mat-icon>
                    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        MIDDLEWARES
                     </span>
                </div>

                <!--                <span class="mat-display-1 my-0 my-sm-24 welcome-message" [@animate]="{value:'*',params:{x:'50px'}}">-->
                <!--                    {{ datastore.name }}-->
                <!--                </span>-->

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content page-layout blank p-24" fusePerfectScrollbar>

            <mat-form-field id="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.type | titlecase}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="version">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Versions </mat-header-cell>
                        <mat-cell *matCellDef="let element"  class="version-list">
                            <mat-list dense>
                                <mat-list-item *ngFor="let version of element.versions" [ngClass]="isObsoleteCss(version.endOfSupport)">
                                    <span>{{ version.number }}</span>
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="editor">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Editor </mat-header-cell>
                        <mat-cell *matCellDef="let element"  class="version-list">
                            <mat-list dense>
                                <mat-list-item *ngFor="let version of element.versions" [ngClass]="isObsoleteCss(version.endOfSupport)">
                                    <span>{{ version.editor }}</span>
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="end-of-support">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> End Of Support </mat-header-cell>
                        <mat-cell *matCellDef="let element"  class="version-list">
                            <mat-list dense>
                                <mat-list-item *ngFor="let version of element.versions" [ngClass]="isObsoleteCss(version.endOfSupport)">
                                    <span>{{ version.endOfSupport }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nb-server">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nb Of Servers </mat-header-cell>
                        <mat-cell *matCellDef="let element"  class="version-list">
                            <mat-list dense>
                                <mat-list-item *ngFor="let version of element.versions" [ngClass]="isObsoleteCss(version.endOfSupport)">
                                    <span>{{ version.instances.length === 0 ? 'No Instances found.' : version.instances.length }}</span>
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nb-artifact">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nb Of Artifact Instances </mat-header-cell>
                        <mat-cell *matCellDef="let element"  class="version-list">
                            <mat-list dense>
                                <mat-list-item *ngFor="let version of element.versions" [ngClass]="isObsoleteCss(version.endOfSupport)">
                                    <span>{{ countArtifactsByVersion(version) === 0 ? 'No Instances found.' : countArtifactsByVersion(version) }}</span>
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-header-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row)" class="row-link"></mat-header-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>

        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>